# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Data files (do not commit to GitHub)
data/marketing_AB.csv
data/marketing_AB.csv.zip
data/ab_test.db

# macOS
.DS_Store

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/
